<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>library1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.newer.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookTypeAdd</servlet-name>
    <servlet-class>com.newer.book.BookTypeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookTypeAdd</servlet-name>
    <url-pattern>/book/type/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTypeQueryServlet</display-name>
    <servlet-name>BookTypeQueryServlet</servlet-name>
    <servlet-class>com.newer.book.BookTypeQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTypeQueryServlet</servlet-name>
    <url-pattern>/book/type/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userAdd</servlet-name>
    <servlet-class>com.newer.user.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAdd</servlet-name>
    <url-pattern>/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userQuery</servlet-name>
    <servlet-class>com.newer.user.UserQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userQuery</servlet-name>
    <url-pattern>/user/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdate</servlet-name>
    <servlet-class>com.newer.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate</servlet-name>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.newer.user.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.newer.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>charSet</param-name>
  		<param-value>GBK</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.newer.filter.LoginFilter</filter-class>
  	<init-param>
  		<param-name>login-url</param-name>
  		<param-value>/jsp/login/login.jsp</param-value>
  	</init-param>
  	<init-param>
  		<param-name>login-servlet</param-name>
  		<param-value>/login</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>